{% extends "patientdashboard/base.html" %}
{% load static %}

{% block content %}

<div class="container mt-4">
    <div class="row gy-4">
        <!-- Patient 1 -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <img src="{% static 'assets/img/doctor-thumb-08.jpg' %}" class="rounded-circle mb-3" alt="Patient Image" width="80" height="80">
                    <h5 class="card-title">Richard Wilson</h5>
                    <p class="text-muted mb-1">Patient ID: P0016</p>
                    <p class="text-muted"><i class="fa fa-map-marker"></i> Alabama, USA</p>
                    <hr>
                    <p class="mb-1"><strong>Phone:</strong> +1 952 001 8563</p>
                    <p class="mb-1"><strong>Age:</strong> 38 Years, Male</p>
                    <p class="mb-0"><strong>Blood Group:</strong> AB+</p>
                </div>
            </div>


        </div>
        <!-- Patient 2 -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <img src="{% static 'assets/img/doctor-thumb-08.jpg' %}" class="rounded-circle mb-3" alt="Patient Image" width="80" height="80">
                    <h5 class="card-title">Charlene Reed</h5>
                    <p class="text-muted mb-1">Patient ID: P0001</p>
                    <p class="text-muted"><i class="fa fa-map-marker"></i> North Carolina, USA</p>
                    <hr>
                    <p class="mb-1"><strong>Phone:</strong> +1 828 632 9170</p>
                    <p class="mb-1"><strong>Age:</strong> 29 Years, Female</p>
                    <p class="mb-0"><strong>Blood Group:</strong> O+</p>
                </div>
            </div>
        </div>
        <!-- Patient 3 -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <img src="{% static 'assets/img/doctor-thumb-08.jpg' %}" class="rounded-circle mb-3" alt="Patient Image" width="80" height="80">
                    <h5 class="card-title">Travis Trimble</h5>
                    <p class="text-muted mb-1">Patient ID: P0002</p>
                    <p class="text-muted"><i class="fa fa-map-marker"></i> Maine, USA</p>
                    <hr>
                    <p class="mb-1"><strong>Phone:</strong> +1 207 729 9974</p>
                    <p class="mb-1"><strong>Age:</strong> 23 Years, Male</p>
                    <p class="mb-0"><strong>Blood Group:</strong> B+</p>
                </div>
            </div>
        </div>
        <!-- Patient 4 -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <img src="{% static 'assets/img/doctor-thumb-08.jpg' %}" class="rounded-circle mb-3" alt="Patient Image" width="80" height="80">
                    <h5 class="card-title">Carl Kelly</h5>
                    <p class="text-muted mb-1">Patient ID: P0003</p>
                    <p class="text-muted"><i class="fa fa-map-marker"></i> Indiana, USA</p>
                    <hr>
                    <p class="mb-1"><strong>Phone:</strong> +1 260 724 7769</p>
                    <p class="mb-1"><strong>Age:</strong> 32 Years, Male</p>
                    <p class="mb-0"><strong>Blood Group:</strong> A+</p>
                </div>
            </div>
        </div>
        <!-- Patient 5 -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <img src="{% static 'assets/img/doctor-thumb-08.jpg' %}" class="rounded-circle mb-3" alt="Patient Image" width="80" height="80">
                    <h5 class="card-title">Michelle Fairfax</h5>
                    <p class="text-muted mb-1">Patient ID: P0004</p>
                    <p class="text-muted"><i class="fa fa-map-marker"></i> Indiana, USA</p>
                    <hr>
                    <p class="mb-1"><strong>Phone:</strong> +1 504 368 6874</p>
                    <p class="mb-1"><strong>Age:</strong> 25 Years, Female</p>
                    <p class="mb-0"><strong>Blood Group:</strong> B+</p>
                </div>
            </div>
        </div>
        <!-- Patient 6 -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <img src="{% static 'assets/img/doctor-thumb-08.jpg' %}" class="rounded-circle mb-3" alt="Patient Image" width="80" height="80">
                    <h5 class="card-title">Gina Moore</h5>
                    <p class="text-muted mb-1">Patient ID: P0005</p>
                    <p class="text-muted"><i class="fa fa-map-marker"></i> Florida, USA</p>
                    <hr>
                    <p class="mb-1"><strong>Phone:</strong> +1 954 820 7887</p>
                    <p class="mb-1"><strong>Age:</strong> 25 Years, Female</p>
                    <p class="mb-0"><strong>Blood Group:</strong> AB-</p>
                </div>
            </div>
        </div>
        <!-- Patient 7 -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <img src="{% static 'assets/img/doctor-thumb-08.jpg' %}" class="rounded-circle mb-3" alt="Patient Image" width="80" height="80">
                    <h5 class="card-title">Elsie Gilley</h5>
                    <p class="text-muted mb-1">Patient ID: P0006</p>
                    <p class="text-muted"><i class="fa fa-map-marker"></i> Kentucky, USA</p>
                    <hr>
                    <p class="mb-1"><strong>Phone:</strong> +1 315 384 4562</p>
                    <p class="mb-1"><strong>Age:</strong> 14 Years, Female</p>
                    <p class="mb-0"><strong>Blood Group:</strong> O-</p>
                </div>
            </div>
        </div>
        <!-- Patient 8 -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <img src="{% static 'assets/img/doctor-thumb-08.jpg' %}" class="rounded-circle mb-3" alt="Patient Image" width="80" height="80">
                    <h5 class="card-title">Joan Gardner</h5>
                    <p class="text-muted mb-1">Patient ID: P0007</p>
                    <p class="text-muted"><i class="fa fa-map-marker"></i> California, USA</p>
                    <hr>
                    <p class="mb-1"><strong>Phone:</strong> +1 707 220 2603</p>
                    <p class="mb-1"><strong>Age:</strong> 25 Years, Female</p>
                    <p class="mb-0"><strong>Blood Group:</strong> A-</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
